
.content2{

    display: flex;
    flex-direction: column;
}

.header{

    display: flex;
    flex-direction: row;
}

.Fundoo{

    display: flex;
    font-size: large;
    
}

#DF{
    font-family: sans-serif;
    font-style: normal;
    color: #e44d12;
  

}
#DU{
    font-family: sans-serif;
    font-style: normal;
    color: #bde412;
  
}
#DN{
    font-family: sans-serif;
    font-style: normal;
    color: #24e412;
   
}
#DD{
    font-family: sans-serif;
    font-style: normal;
    color: #12a8e4;
    
}
#DO{
    font-family: sans-serif;
    font-style: normal;
    color: #e412d9;
    
}
#DOO{
    font-family: sans-serif;
    font-style: normal;
    color: #e41212;
   
}
#DN{
    font-family: sans-serif;
    font-style: normal;
    color: #12d6e4;
    
}
#DOOO{
    font-family: sans-serif;
    font-style: normal;
    color: #9012e4;
    
}
#DT{
    font-family: sans-serif;
    font-style: normal;
    color: #a5e412;
   
}
#DE{
    font-family: sans-serif;
    font-style: normal;
    color: #12e446;
    
}

.searchIcon{
    padding: 5px;
    
}

.body2{

    display: flex;
    flex-direction: column;
    border: 50px solid black;
}


.MuiSvgIcon-root {
     fill: black !important; 
    width: 1em;
    height: -15em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    left: 30px
}


.makeStyles-search-3 {
     width: 750px !important; 
    border: 1px solid transparent;
    height: 50px !important;
    display: flex;
    position: relative;
    margin-left: 100px;
    border-radius: 8px;
    flex-direction: row;
    background-color: #f1f3f4;
}

.makeStyles-appBar-2  {
    display: flex;
    z-index: 1201;
    background: white;
     align-items :inherit !important;
     flex-direction: column !important; 
    justify-content: spaceBetween;
}

.Setting{
    margin-left: 25%;
   font-size: xx-large !important;
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.makeStyles-appBar-38 {
    width: 100%;
    display: flex;
    z-index: 1201;
    background: white;
    align-items: center;
    /* flex-direction: row; */
    justify-content: spaceBetween;
    flex-direction: column !important;
}
/* form{
    position: relative;
    width:600px;
    margin:32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128,128,128);
    
}
form input{
    width:100%;
    border:none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
form textarea
{
    width:100%;
    border:none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
} */