.content2{

    display: flex;
    flex-direction: column;
}

.header{

    display: flex;
    flex-direction: row;
}

.Fundoo{

    display: flex;
    font-size: large;
    
}

#DF{
    font-family: sans-serif;
    font-style: normal;
    color: #e44d12;
  

}
#DU{
    font-family: sans-serif;
    font-style: normal;
    color: #bde412;
  
}
#DN{
    font-family: sans-serif;
    font-style: normal;
    color: #24e412;
   
}
#DD{
    font-family: sans-serif;
    font-style: normal;
    color: #12a8e4;
    
}
#DO{
    font-family: sans-serif;
    font-style: normal;
    color: #e412d9;
    
}
#DOO{
    font-family: sans-serif;
    font-style: normal;
    color: #e41212;
   
}
#DN{
    font-family: sans-serif;
    font-style: normal;
    color: #12d6e4;
    
}
#DOOO{
    font-family: sans-serif;
    font-style: normal;
    color: #9012e4;
    
}
#DT{
    font-family: sans-serif;
    font-style: normal;
    color: #a5e412;
   
}
#DE{
    font-family: sans-serif;
    font-style: normal;
    color: #12e446;
    
}

.searchIcon{
    height: 5vh;
    color: black;
}

.body2{

    display: flex;
    flex-direction: column;
    border: 50px solid black;
}

form{
    position: relative;
    width:600px;
    margin:32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128,128,128);
    
}
form input{
    width:100%;
    border:none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
form textarea
{
    width:100%;
    border:none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
