.NoteBody-update{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}
.Container-update{
    column-gap: 20px;
}
.text-Update{

     width: 400px; 
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    height: 3%;
    padding: 10%;
     border: none !important; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.Icons-Update{
    display: flex;
column-gap: 5% 2% 2% 2% ;
}

.content-Update{
    width: 400px;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    height: 5%;
    padding: 5px 10% 10% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: none !important; */
}
