.containerlogin{
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-radius: 10px;
    border-width: 30%;
    
    border-color: rgb(230, 216, 216);

    padding : 40px;
   
   
    width: 360px;
   
    
    display:flex;
    flex-direction: column;
}
.bodyLF{
    display:flex;
    float: top center;
    padding-left: 120px;
    padding-bottom: 20px;
}
#LF{
    font-family: sans-serif;
    font-style: normal;
    color: #e44d12;
    font-size:large ;

}
#LU{
    font-family: sans-serif;
    font-style: normal;
    color: #bde412;
    font-size: large;
}
#LN{
    font-family: sans-serif;
    font-style: normal;
    color: #24e412;
    font-size: large;
}
#LD{
    font-family: sans-serif;
    font-style: normal;
    color: #12a8e4;
    font-size: large;
}
#LO{
    font-family: sans-serif;
    font-style: normal;
    color: #e412d9;
    font-size: large;
}
#LOO{
    font-family: sans-serif;
    font-style: normal;
    color: #e41212;
    font-size: large;
}
#LN{
    font-family: sans-serif;
    font-style: normal;
    color: #12d6e4;
    font-size: large;
}
#LOOO{
    font-family: sans-serif;
    font-style: normal;
    color: #9012e4;
    font-size: large;
}
#LT{
    font-family: sans-serif;
    font-style: normal;
    color: #a5e412;
    font-size: large;
}
#LE{
    font-family: sans-serif;
    font-style: normal;
    color: #12e446;
    font-size: large;
}
.bodySI{
    display:flex;
    padding-left: 150px;
    padding-bottom: 20px;
    font-size: large;
   font-family: sans-serif;
}
.bodyFA{
    display:flex;
    padding-left: 70px;
    padding-bottom : 35px;
}
.bodyLTE{
    display:flex;
    padding-bottom: 20px;
}
.bodyLTP{
    display:flex;
}
.bodyLFP{
    display:flex;
    color :blue;
    padding-bottom: 35px;
}
.bodyLP{
    display:flex;
    font-size: small;
}
.bodyLLM{
    display:flex;
    color:blue;
    padding-bottom: 45px;
}
.bodyLB{
    display:flex;
    column-gap: 200px;
    font-size: small;
}
#CA{
    color: rgb(1, 1, 247);
    font-size: smaller;
}
.mainLogin{
    display: flex;
    flex-wrap: wrap;  
     justify-content: center;
    align-items: center;
    padding-top: 50px;
}