.container{
    background-color: rgb(255, 255, 255);
    border-style:solid;
    border-color: rgb(230, 216, 216);
    border-radius: 10px;
    padding : 40px;
    width: 42%;
    
    background-image: url('../../assests/gmailimage.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 30%; 
    display:flex;  
      
   
}

.row1{
    display: flex;
    flex-direction: column;
    
}



.body1{
    float: inline-start;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    display :flex;
    
    
}
#Fd1{
    font-family: sans-serif;
    font-style: normal;
    color: #e44d12;
    font-size: large;

}
#Fd2{
    font-family: sans-serif;
    font-style: normal;
    color: #bde412;
    font-size: large;
}
#Fd3{
    font-family: sans-serif;
    font-style: normal;
    color: #24e412;
    font-size: large;
}
#Fd4{
    font-family: sans-serif;
    font-style: normal;
    color: #12a8e4;
    font-size: large;
}
#Fd5{
    font-family: sans-serif;
    font-style: normal;
    color: #e412d9;
    font-size: large;
}
#Fd6{
    font-family: sans-serif;
    font-style: normal;
    color: #e41212;
    font-size: large;
}
#Fd7{
    font-family: sans-serif;
    font-style: normal;
    color: #12d6e4;
    font-size: large;
}
#Fd8{
    font-family: sans-serif;
    font-style: normal;
    color: #9012e4;
    font-size: large;
}
#Fd9{
    font-family: sans-serif;
    font-style: normal;
    color: #a5e412;
    font-size: large;
}
#Fd10{
    font-family: sans-serif;
    font-style: normal;
    color: #12e446;
    font-size: large;
}


.body2{
    display :flex;
    padding-bottom: 25px;
    font-size: x-large;

}
.body3{
    display :flex;
    padding-bottom: 25px;
    border: 5px solid white;
    column-gap: 10px;
}
#FL1{
    padding-right:10px;
    width : 40%;
}
#FL2{
    padding-left:10px;
    width: 40%;
}
.body4{
    display :flex;
    padding-bottom: 25px;
    
}
.body5{
    display :flex;
    padding-bottom: 25px;
    color: blue;
}
.body6{
    display :flex;
    padding-bottom: 25px;
    column-gap: 10px;
}
.body7{
    display :flex;
    padding-bottom: 25px;
}
.body8{
    display :flex;
    flex-direction: row;
    padding-bottom: 25px;
    column-gap: 250px;
}
#SI{
    color: rgb(19, 19, 247);
}
.main{
    display: flex;
    flex-wrap: wrap;  
     justify-content: center;
    align-items: center;
    padding-top: 50px
}

