.Iconss{
    display: flex;
    height: 20px;
    column-gap: 20px;
}

.Icons{
    display: flex;
    align-items: center;
    grid-column-gap: 6%;
    column-gap: 2%;
    padding: 6% 0 5% 0;
}

.Items{

    width: 50px;
}

.BlankSpace{
    height: 40px;
}